/* General Styles */
body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px #ffffff;;
}

.section {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.section-header {
  flex: 1;
  max-width: 25%;
  font-style: italic;
}

.section-header h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.skills-list {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.section-body {
  flex: 3;
  font-size: 17px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #f0c23b;
  padding-bottom: 60px;
  padding-top: 30px;
  background-color: #f5f5f5;

}

.header h1 {
  font-size: 2em;
  margin: 0;
  color: black;
}

.header h2 {
  font-size: 1em;
  color: black;
  margin: 5px 0;
}

.header p {
  font-size: 0.9em;
  color: black;
  margin: 2px 0;
}



.header p a {
  color: #0066cc;
  text-decoration: none;
}



h3 {
  font-size: 1.3em;
  color: black;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
  padding-bottom: 5px;
  
}


.work-experience div {
  margin: 10px 0;
}

.work-experience h4 {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
  margin: 5px 0;
}

.work-experience p {
  font-size: 17px;
  color: black;
  line-height: 1.6em;
}

.work-experience h4 span {
  font-size: 0.9em;
  font-weight: normal;
  color: black;
  display: block;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills li {
  font-size: 0.9em;
  color: black;
  padding: 5px;
  margin: 0 15px 5px 0;
}

.education div {
  margin: 10px 0;
}

.education h4 {
  font-weight: bold;
  color: black;
  margin: 5px 0;
}

.education p {
  font-size: 0.9em;
  color: black;
  line-height: 1.6em;
}

.education p.gpa {
  font-style: italic;
}

.header p.contact {
  margin: 2px 0;
}
